* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    width: 100vw;

    display: block;
    background-color: #1d1914;
  }

  img {
    width: 100%;
    height: 100%;
  }

  input {
    display: none;
  }

  main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container {
    width: 80%;
    height: 70%;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
  }

  .slider-wrapper {
    width: 50%;
    overflow: hidden;
  }

  .slider-content {
    width: 400%;
    height: 100%;
    display: flex;

    transition: 0.5s;
  }

  .slider-item {
    width: 100%;
    height: 100%;
    display: flex;
  }

  .slider-container {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .slider-text {
    width: 40%;
    overflow: hidden;
  }

  .text-content {
    display: flex;
    width: 400%;

    color: white;
    transition: 0.5s;
  }

  .text {
    width: 100%;
    font-family: 'Times New Roman', serif;
    font-size: 1.5em;
  }

  .label-wrapper {
    display: flex;
    align-items: center;
    gap: 1em;
  }

  .label {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-color: transparent;
    cursor: pointer;
  }

  .dot {
    display: block;
    width: 2em;
    height: 2em;
    border-radius: 1em;
    background-color: #9e8460;
  }

  .dot:hover {
    background-color: #fff;
  }

  .label div:checked {
    background-color: transparent;
  }

  #memas1:checked ~.slider-wrapper .slider-content {
    margin-left: 0;
  }
  #memas2:checked ~.slider-wrapper .slider-content {
    margin-left: -100%;
  }
  #memas3:checked ~.slider-wrapper .slider-content {
    margin-left: -200%;
  }
  #memas4:checked ~.slider-wrapper .slider-content {
    margin-left: -300%;
  }

  #memas1:checked ~ .slider-container .text-content {
    margin-left: 0;
  }
  #memas2:checked ~ .slider-container .text-content {
    margin-left: -100%;
  }
  #memas3:checked ~ .slider-container .text-content {
    margin-left: -200%;
  }
  #memas4:checked ~ .slider-container .text-content {
    margin-left: -300%;
  }

  #memas1:checked ~ .slider-container .label-wrapper label:nth-child(1) div, 
  #memas2:checked ~ .slider-container .label-wrapper label:nth-child(2) div, 
  #memas3:checked ~ .slider-container .label-wrapper label:nth-child(3) div, 
  #memas4:checked ~ .slider-container .label-wrapper label:nth-child(4) div {
    background-color: transparent;
    border: 0.3em solid #285780;
  }

  @media (max-width: 950px) {
    .text {
      font-size: 0.75em;
    }
  }
  
  @media (max-width: 768px) {
    .container {
      width: 70%;
    }
  
    .slider-container {
      flex-direction: column-reverse;
      gap: 1em;
    }

    .dot {
      width: 1em;
      height: 1em;
    }
  }